$hoofdkleur : #0073CF;
$lightBlue : #85BADF;
$backgroundBlue : #0076d5;
$R : right;
$L : left;
$W : white;
$N : none;
$poi : pointer;
$cent : center;
$LineB : inline-block;
$upper : uppercase;
